[Unit]
Description=GRF Analysis tools

[Service]
Type=simple
WorkingDirectory=/opt/grf-analysis-tools
ExecStart=bash execute.sh

[Install]
WantedBy=default.target
